{% extends 'base.html' %}
{% load bootstrap4 %}

{% block body %}
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Add New Service</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <div class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="apply_job_form white-bg">
                        <h4>Post Your Service</h4>
                            <form method="POST" enctype="multipart/form-data" >
                              {% csrf_token %}
                              {% bootstrap_form form layout='horizontal'%}
                              {% buttons %}
                                <button class="boxed-btn3 w-100" type="submit">Post Now</button>
                              {% endbuttons %}
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
    $(document).ready(function() {
        $('#id_service_region').select2();
        $('#id_service_city').select2();
    });
</script>

<!-- <script>

    $(document).ready(function(){

    $('[name="service_region"]').on('change', function(){
    var regionID = $(this).val();
    if (regionID) {
        $.get(
        "ajax.php",
        {region: regionID},
        function(data){
        $('[name="service_city"]').html(data)
        }
    );
    }else{
        $('[name="service_city"]').html(test)

    }

    });

    });

</script> -->
{% endblock body %}
